
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#maestros, #alumnos {
    background-color: #d8d8d8;
    width: 40%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-y: auto;
    height: 70vh;
}


#maestros li, #alumnos li {
    list-style-type: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


#maestros {
    margin-right: 20px;
}


#alumnos {
    margin-left: 20px;
}


#maestros li {
    text-align: left;
    background-color: #da2b0c;
    color: #f2f2f2;
}

#alumnos li {
    text-align: right;
    background-color: #d0da0c;
    color: #000000;
    
}


#maestros::before, #alumnos::before {
    content: attr(id);
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
